<ul class="w3-opacity w3-teal w3-navbar ">
	<li><h1 class="w3-text-shadow w3-padding">Secrets</h1></li>
		<li class="w3-right w3-padding w3-tiny"><a href="/users/<%= current_user.id %>">Back</a></li>

</ul>
<div class="w3-margin">
	<%  @secrets.each do |secret| %>
		<h4 class=""><%= secret.content %></h4>
		<p class="w3-opacity w3-show-inline-block"><%= secret.likes.count %>  likes</p>
		<% if secret.users_liked.any? { |e|current_user.id == e.id } %>
		<form class="w3-form w3-padding w3-show-inline-block" action='/likes/<%= secret.id %>' method='post'>
			<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			<input type="hidden" name="_method" value="delete">
			<input type='hidden' name='secret_id' value='<%= secret.id %>'>
			<input class="w3-btn w3-hover-pale-green w3-light-grey w3-round-large" type='submit' value='Unlike'>
		</form>
		<% else %>
		<form class="w3-form w3-padding w3-show-inline-block" action='/likes' method='post'>		

			<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			<input type='hidden' name='secret_id' value='<%= secret.id %>'>
			<input class="w3-btn w3-hover-pale-green w3-light-grey w3-round-large" type='submit' value='Like'>
		</form>
		<% end %>
		<% if current_user == secret.user %>
		<form  class="w3-form w3-show-inline-block " action="/secrets/<%= secret.id %>" method="post">
			<input type="hidden" name="_method" value="delete">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input class="w3-btn w3-light-grey w3-hover-red w3-round-large w3-margin-bottom"" type="submit" value="Delete">
		</form>
		<% end %>
	<% end %>
</div>
