<!DOCTYPE html>
<html>
  <head>
    <title>Seeks</title>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
  
  <form class="w3-center w3-margin" action='/sessions' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='_method' value='delete'>
    <input class="w3-btn w3-light-grey w3-hover" type='submit' value='Log Out'>
  </form>
 
<% end %>

  <% if flash.key? :errors %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>

    <%= yield %>
  </body>
</html>
